<ion-view view-title="Salvation">
  <ion-content class="padding" ng-style="curStyle.noneTextBG">
    <div class="list card">
      <div class="item item-divider" ng-style="curStyle.header">God Loves You</div>
      <div class="item item-body" ng-style="curStyle.main">
        <div>
        <h2 ng-style="curStyle.main">For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">John 3:16</p>
          <h2 ng-style="curStyle.main">But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">Romans 5:8</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" ng-style="curStyle.header">All Are Sinners</div>
      <div class="item item-body" ng-style="curStyle.main">
        <div>
         <h2 ng-style="curStyle.main">For all have sinned, and come short of the glory of God.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">Romans 3:23</p>

          <h2 ng-style="curStyle.main"> As it is written, There is none righteous, no, not one.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">Romans 3:10</p>

        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" ng-style="curStyle.header">God's Remedy for Sin</div>
      <div class="item item-body" ng-style="curStyle.main">
        <div>
          <h2 ng-style="curStyle.main">For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">Romans 6:23</p>

          <h2 ng-style="curStyle.main">But as many as received him, to them gave he power to become the sons of God, even to them that believe on his name.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">John 1:12</p>

          <h2 ng-style="curStyle.main">For I delivered unto you first of all that which I also received, how that Christ died for our sins according to the scriptures.
            And that he was buried, and that he rose again the third day according to the scriptures.</h2>
          <p style="text-align:right " ng-style="curStyle.smallText">1 Corinthians 15:3-4</p>
           </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" ng-style="curStyle.header">All May Be Saved Now</div>
      <div class="item item-body" ng-style="curStyle.main">
        <div>
          <h2 ng-style="curStyle.main">Behold, I stand at the door, and knock: if any man hear my voice, and open the door, I will come in to him, and will sup with him, and he with me.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">Revelation 3:20</p>

          <h2 ng-style="curStyle.main">For whosoever shall call upon the name of the Lord shall be saved.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">Romans 10:13</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" ng-style="curStyle.header">My Decision to Receive Christ As My Saviour</div>
      <div class="item item-body" ng-style="curStyle.main">
        <div>
          <h2 ng-style="curStyle.main">Confessing to God that I am a sinner, and believing that the Lord Jesus Christ died for my sins on the cross and was raised
          for my justification. I do now receive and confess Him as my personal Saviour.</h2>

        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" ng-style="curStyle.header">Seeking a Church</div>
      <div class="item item-body" ng-style="curStyle.main">
        <div>
          <h2 ng-style="curStyle.main">After making your decision to receive Christ, we encourage you to prayerfully seek a local church,
            congregation, or assembly that will assist you in growing as a new Christian by the clear teaching of the Bible.</h2>

          <h2 ng-style="curStyle.main">But grow in grace, and in the knowledge of our Lord and Saviour Jesus Christ. To him be glory both now and for ever. Amen.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">2 Peter 3:18</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider" ng-style="curStyle.header">Assurance As a Believer</div>
      <div class="item item-body" ng-style="curStyle.main">
        <div>
          <h2 ng-style="curStyle.main">That if thou shalt confess with thy mouth the Lord Jesus,
            and shalt believe in thine heart that God hath raised him from the dead, thou shalt be saved.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">Romans 10:9</p>

          <h2 ng-style="curStyle.main">Verily, verily, I say unto you, He that heareth my word, and believeth on him that sent me,
            hath everlasting life, and shall not come into condemnation; but is passed from death unto life.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">John 5:24</p>

          <h2 ng-style="curStyle.main" >But these are written, that ye might believe that Jesus is the Christ,
            the Son of God; and that believing ye might have life through his name.</h2>
          <p style="text-align:right" ng-style="curStyle.smallText">John 20:31</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
