<ion-view view-title="Salvation">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">God Loves You</div>
      <div class="item item-body">
        <div>
        <h2>For God so loved the world, that he gave his only begotten Son, that whosoever believeth in him should not perish, but have everlasting life.</h2>
          <p style="text-align:right">John 3:16</p>
          <h2>But God commendeth his love toward us, in that, while we were yet sinners, Christ died for us.</h2>
          <p style="text-align:right">Romans 5:8</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">All Are Sinners</div>
      <div class="item item-body">
        <div>
         <h2>For all have sinned, and come short of the glory of God.</h2>
          <p style="text-align:right">Romans 3:23</p>

          <h2> As it is written, There is none righteous, no, not one.</h2>
          <p style="text-align:right">Romans 3:10</p>

        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">God's Remedy for Sin</div>
      <div class="item item-body">
        <div>
          <h2>For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.</h2>
          <p style="text-align:right">Romans 6:23</p>

          <h2>But as many as received him, to them gave he power to become the sons of God, even to them that believe on his name.</h2>
          <p style="text-align:right">John 1:12</p>

          <h2>For I delivered unto you first of all that which I also received, how that Christ died for our sins according to the scriptures.
            And that he was buried, and that he rose again the third day according to the scriptures.</h2>
          <p style="text-align:right">1 Corinthians 15:3-4</p>
           </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">All May Be Saved Now</div>
      <div class="item item-body">
        <div>
          <h2>Behold, I stand at the door, and knock: if any man hear my voice, and open the door, I will come in to him, and will sup with him, and he with me.</h2>
          <p style="text-align:right">Revelation 3:20</p>

          <h2>For whosoever shall call upon the name of the Lord shall be saved.</h2>
          <p style="text-align:right">Romans 10:13</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          <h2>For all have sinned, and come short of the glory of God.</h2>
          <p style="text-align:right">Romans 3:23</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Seeking a Church</div>
      <div class="item item-body">
        <div>
          <h2>But grow in grace, and in the knowledge of our Lord and Saviour Jesus Christ. To him be glory both now and for ever. Amen.</h2>
          <p style="text-align:right">2 Peter 3:18</p>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item item-divider">Assurance As a Believer</div>
      <div class="item item-body">
        <div>
          <h2>That if thou shalt confess with thy mouth the Lord Jesus,
            and shalt believe in thine heart that God hath raised him from the dead, thou shalt be saved.</h2>
          <p style="text-align:right">Romans 10:9</p>

          <h2>Verily, verily, I say unto you, He that heareth my word, and believeth on him that sent me,
            hath everlasting life, and shall not come into condemnation; but is passed from death unto life.</h2>
          <p style="text-align:right">John 5:24</p>

          <h2>But these are written, that ye might believe that Jesus is the Christ,
            the Son of God; and that believing ye might have life through his name.</h2>
          <p style="text-align:right">John 20:31</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
